/* 400 */ 
@media(min-width: 400px){
    .teacher_card {
        width: calc(50% - 8px);
    }

    .teacher_card_img{
        height: 260px;
    }
}

/* 576 */ 
@media(min-width: 576px){
    .gallery_wrapper {
        gap: 12px;
    }
    
    .event_slider_item{
        width: calc(50% - 12px);
    }

    .notice_wrapper {
        padding: 50px;
    }

    .counter_achive_item {
        width: calc(50% - 12px);
    }

    .video_wrapper {
        height: 350px;
    }

    .teacher_card {
        width: calc(33.33% - 11px);
    }

    .video_content {
        padding: 20px;
    }

    .gallery_page_image {
        width: calc(50% - 8px);
    }

}

/* 768 */
@media(min-width: 767px){
    .section_padding{
        padding: 40px 0px;
    }

    .gallary_image {
        grid-row: span 1;
        grid-column: span 1;
    }

    .counter_achive_item {
        width: calc(33.33% - 16px);
    }

    .gallary_image:nth-child(2),
    .gallary_image:nth-child(4){
        grid-row: span 2;
        display: flex;
        grid-column: span 1;
    }

    .event_slider_item{
        width: calc(33.33% - 16px);
    }

    .video_wrapper {
        height: 450px;
    }

    .teacher_card {
        width: calc(25% - 12px);
    }

    .video_content {
        padding: 30px;
    }

    .board_result_content{
        padding: 20px 30px;
    }

    .gallery_page_image {
        width: calc(33.33% - 11px);
    }
    
}

/* 1024 */
@media(min-width: 992px){
    .section_padding{
        padding: 50px 0px;
    }

    .counter_achive {
        top: 50%;
        transform: translateY(-50%);
        padding: 0;
    }

    .counter_achive_item {
        width: calc(16.6666666667% - 20px);
    }

    .principal_image {
        width: 300px;
        height: 330px;
        transform: rotate(-15deg);
    }
    .principal_image_overlay {
        transform: rotate(12deg);
        bottom: -42px;
        left: 50px;
    }

    .event_slider_item{
        width: calc(25% - 18px);
    }

    .banner_section {
        padding-top: 60px;
        padding-bottom: 150px;
    }

    .video_wrapper {
        height: 500px;
    }

    .teacher_card_img{
        height: 300px;
    }

    .video_content {
        padding: 50px;
    }

    
    .board_result_content{
        padding: 30px 50px;
    }
}

/* 1240 */
@media(min-width: 1200px){
    .section_padding{
        padding: 60px 0px;
    }
    .teacher_card {
        width: calc(20% - 13px);
    }

    .gallery_page_image {
        height: 300px;
        width: calc(25% - 12px);
    }
   
}